@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.canvas-container, .canvas {
    display: none;
}

.composite, .composite img {
    width: 100%;
}

/* temporary styles */
main > div {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
